################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/ESP/.vs/

/backend/ESP/ESP/bin/
/backend/ESP/ESP/obj/